/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  min-height: 100%;
  position: relative;
}

body {
  padding: 40px 0px 30px;
  min-height: 100%;
}
.width-100-percent{
  width: 100% !important;
}
.screen-size-error {
  display: none;
}
.width-150{
  width: 150px;
}
.m-top-20 {
  margin-top: 20px;
}

.width-auto{
  width:auto !important;
}
@media (max-width: 1100px) {
    .screen-size-error {
      margin: 20%;
      text-align: center;
      display: block;
    }
    .app-content {
      display: none;
    }

}

/* displaying PDF docs */
.display-pdf {
  width: 90%;
  margin-left: 5%;
  margin-top: 60px; 
  min-height: 900px;
  border: 1px solid #212121;
}

.btn {
  border-radius: 0px !important;
}

.top-project-menu {
  width: 100%;
  text-align: center;
  animation-name: left_to_right;
  animation-duration: 1s;
  padding: 50px;
}

.your-projects-menu {
  padding: 20px;
}

.btn-full-width {
  display: block; 
  width: 100%;
}

@keyframes left_to_right {
    from {margin-left: -30px;}
    to {margin-left: 0;}
}


button[type="submit"] {
  animation-name: left_to_right;
  animation-duration: 1s;
}

legend {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  color: #bebebe;
}

.width-80{
  width: 80%;
}
/* ==========================================================================
   Author's custom styles: top nav;
   ========================================================================== */

.navbar-fixed-top button {
  border: 0px solid transparent;
  border-style: none;
  box-shadow:none;
  border-radius: 0px;
  border-bottom: 10px solid transparent;
  background-color: transparent;
  background-image: none;
  margin-left: 20px;
  margin-bottom: -20px;
}

.navbar-fixed-top button:hover,
.btn-active {
  border-bottom: 10px solid #c62d2d !important;
  background-color: transparent;
}

#account_name {
  text-transform: capitalize;
}

.navbar-fixed-top {
  font-weight: 400;
  background-color: #212121;
}

.navbar-inverse .navbar-nav > li > a {
   height: 50px;
}

.navbar-inverse .navbar-nav > li > a > button {
   margin-top: -7px;
}

.page-header .row {
  border: 1px solid #212121;
  padding: 20px 0px 30px;
  margin: 0px 0px 20px;
  background-color: #FFF;
}

/* ==========================================================================
   Author's custom styles: PROJECT NAVIGATION;
   ========================================================================== */

.project-nav {
  padding: 20px 0px;
  background-color: #313131;
  height: 100%;
}

.project-nav a {
  color: #adadad;
}

.project-nav label {
  color: #FFF;
}

.project-nav button {
  margin-top: 10px;
  margin-left: 10px;
  width: 80%;
  text-align: center;

}



.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}


.project-nav .form-group {
  margin-left: 20px;
}


.nav-sidebar a:focus {
  outline: 0px;
  text-decoration: none;
}

input  {
font-size: 20px !important;
width:380px !important;
display:block !important;
border: solid 1px #eaeaea !important;
background-color:  #f8f8f8 !important;
border-radius: 1px;
height: 40px !important;
-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
}

input[type="number"] {
  width: 140px !important;
}    



label {
 color: #3A3A3A;

 font-size: 12px !important;
 max-width: 200px; 
 display: block !important;
 padding: 0px !important;
}


.progress {
  max-width: 80% !important;
  margin: 10px auto !important;
  height: 8px !important;
  background-image: -webkit-linear-gradient(top,#ececec 0,#eeeeee 100%);
  background-image: -o-linear-gradient(top,#ececec 0,#eeeeee 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ececec),to(#eeeeee));
  background-image: linear-gradient(to bottom,#ececec 0,#f5f5f5 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#eeeeee', GradientType=0);
  background-repeat: repeat-x;
}

.progress-bar {
  background-image: -webkit-linear-gradient(top,#dc6464 0,#c62d2d 100%);
  background-image: -o-linear-gradient(top,#dc6464 0,#c62d2d 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dc6464),to(#c62d2d));
  background-image: linear-gradient(to bottom,#dc6464 0,#c62d2d 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc6464', endColorstr='#c62d2d', GradientType=0);
  background-repeat: repeat-x;
}


/* ==========================================================================
   Author's custom styles: MAIN CONTENT;
   ========================================================================== */

.tab-content #project-info,
#project-info,
#project-info div {
  padding: 0px !important;
}

.panel-collapse {
  background-color: #ddd;
}

.pager {
  margin: 0.5em 0em;
}

.project-sorting {
  padding-bottom: 1em;
  padding-right: 4em;
}

.project-list {
  border: solid 1px #e3e3e3;
}

.project-list .row {
    border-bottom:  solid 1px #f1f1f1;
}

.project-list .row:last-child{
    border-bottom: 0;
}

.project-title {
  margin-top:  20px;
  font-size: 2em;
  color: #585858;
  text-transform: capitalize;
}

.project-id {
  color: #e3e3e3;
}

.optimization-progress > ul {
  padding: 0;
  margin:0;
}

.optimization-progress > ul > li {
  background-color: #f8f8f8;
  color: #737373;
  padding: 8px 20px;
  margin-left: -5px;
  list-style-type: none;
  display: inline-block;
  margin-bottom: 23px;
}

.optimization-progress > ul > li :first-child { 
  margin-left: 0px;
}

.feasibility-results {
  color: #cdcdcd;
  font-size: 1em;
  margin: auto;
  margin-top: 20px;
}

.construction-bid {
  color: #c62d2d;
  margin: auto;
  margin-top: 10px;
  font-size: 1em;
}

.project-icon {
    width: 140px;
    height: 140px;
    border: solid 1px #e3e3e3;
    margin: 23px 34px;
    background: url(/img/project-icon.png) left top no-repeat;
}

.optimization-results-status {
  padding: 14px;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  background-color: #f5f5f5;
  color: #818181;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-left: 0%;
  font-size: 1em;
}


.progress-label {
  font-size: 0.9em;
  letter-spacing: 4px;
  color: #bebebe;
  margin-bottom: 0px;
  margin-top: 10px;
}

.edit {
  margin-left: 11px;
  color: #c62d2d;
  font-size: 16px;
}

i {
  margin-right: 0.5em;
  font-size: 14px;
}

.project-summary-block-primary {
  background-color: #428bca;
  color: #fff;
}

.project-summary-block-primary .summary-footer {
  background-color: blue;
} 

.project-summary-block-primary .summary-footer a {
  color: white;
}  

.project-summary-block-success {
  background-color: #3c763d;
  color: #fff;
}

.project-summary-block-success .summary-footer {
  background-color: green;
} 

.project-summary-block-success .summary-footer a {
  color: white;
}  

.project-summary-block-danger {
  background-color: #b22222;
  color: #fff;
}

.project-summary-block-danger .summary-footer {
  background-color: #c62d2d;
} 

.project-summary-block-danger .summary-footer a {
  color: white;
}  

.project-summary-block-info {
  background-color: #daa520;
  color: #fff;
}

.project-summary-block-info .summary-footer {
  background-color: orange;
} 

.project-summary-block-info .summary-footer a {
  color: white;
}  

.project-summary-block {
  position: relative;
  width: 100%;
  margin: 0em 0em 2em;
  padding: 1em;
  min-height: 15em;
}

.project-summary-block .summary-background i, 
.project-summary-block .summary-background div {
  margin-left: -0.4em;
  margin-top: 0.1em;
  font-size: 8em;
  opacity: 0.3;
}

.project-summary-block .summary-body {
  position: absolute;
  top: 1.3em;
  right: 0.8em;
}

.project-summary-block .summary-body .summary-line-1 {
  text-align: right;
  font-size: xx-large;
}

.project-summary-block .summary-body .summary-line-2 {
  text-align: right;
  font-size: medium;
}

.project-summary-block .summary-body .summary-line-3 {
  text-align: right;
  font-size: medium;
}

.project-summary-block .summary-footer {
  position: absolute;
  bottom: 0em;
  right: 0em;
  width: 100%;
  padding: 0.4em;
  font-weight: 300;
  text-transform: uppercase;
  font-size: small;
  opacity: 0.6;
}

.project-summary-block .summary-footer a {
  text-decoration: none;
}

.project-summary-block .summary-footer:hover {
  opacity: 1;
  cursor: pointer;
}

.create-project-form {
  margin: 0em;
  padding: 0em !important;
}

.create-project-form nav ul li a {
  background-color: #000;
  border: medium none;
  border-radius: 0;
  border: 1px #3A3A3A solid;
}    
 
.nav-tabs {
  background-color:#3A3A3A;
  padding-left: 2em;
}

ul.nav.nav-tabs.site-info-nav {
   width: 100%;
   background-color:rgba(192,192,192,0.7);
   text-align: center;
}


.nav-tabs.site-info-nav > li.active > a,
.nav-tabs.site-info-nav > li.active > a:focus,
.nav-tabs.site-info-nav > li.active > a:hover{
    background-color: #000 !important;
    color:#fff !important;
}


.tab-content{
    background-color:#fff;
    color:#303136;
    /*padding-top: 40px;*/
}

.project-controls {
  padding: 0px;
  width: 400px;
  position: absolute;
  top:120px;
  left: 40px;
  display: block;
  z-index: 1;
  background-color:rgba(192,192,192,0.7);
  border: 1px solid #eee;
  border-radius: 10px;

}

.project-controls-menu {
  padding: 0px;
  width: 400px;
  position: absolute;
  top:80px;
  left: 40px;
  display: block;
  z-index: 1;
  background-color:rgba(192,192,192,0.7);
  border: 1px solid #eee;
  border-radius: 10px;

}

.project-controls-menu > ul > li > a{
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px;
}

.nav-tabs > li > a {
  border: solid 0px;
  text-transform: uppercase;
  color: #9d9d9d;
  width: 100%;
  padding-left: 30px;
}

.nav-stacked > li > a{
  background-color: #313131;
  border: 1px solid #9d9d9d;
  color: #fff;
  width: 100%;
  color: #9d9d9d;
  margin-bottom: -3px;
  border-radius: 0px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #FFFFFF;
    color: #9d9d9d !important;
}

.nav-stacked > li > a:hover,
.nav-stacked > li.active > a,
.nav-stacked > li.active > a:focus,
.nav-stacked > li.active > a:hover{
    background-color: #cfcfcf !important;
    color: #313131 !important;
}

.nav-stacked > li:last-child {
    background-color: #313131 !important;
    border-top: 1px solid #9d9d9d;
}

label {
  font-size: 1.2em;
}

.tab-content .tab-pane .row,
.tab-content .tab-pane h3 {
  margin-bottom: 2em;
} 

.tab-content {
  padding-top: 40px;
}

.footer {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  padding: 0em 1em;
  position: absolute;
  bottom: 0;
}


#run-optimization fieldset div .row {
  margin-top: 4em;
}

.optimization-running {
  text-align: center;
}

.project-name {
  font-size: 1.5em;
  color: #ffffff;
  margin-left: 40px;
}

.project-location {
  font-size: 0.9em;
  color: #ffffff;
  margin-left: 40px;
  padding-left: 0px;
}

.project-nav button {
  border-radius: 0px !important;
  padding: 12px 10px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 30px;
  max-width: 180px;
}

.project-nav .row {
  margin-bottom: 20px;
}

.project-nav i {
  color: #FFF;
}

.section-name {
  font-size: 0.8em;
  letter-spacing: 0.8px;
  color: #686868;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-top: 20px;
}

.optimization-error,
.optimization-running {
  text-align: center;
  margin-bottom: 500px;
}

.optimization-error img,
.optimization-running img {
  max-height:100px;
}

.optimization-error-message,
.optimization-running-message {
  font-size: 1.2em;
  letter-spacing: 0.1px;
  color: #313131;
}

.optimization-error-support a {
  text-decoration: underline;
  color: #c62d2d;
  font-size: 16px;
}

.optimization-error-support {
  padding-top: 40px;
}

.download-report {
  text-align: center;
}

.optimization-successful button {
  border-radius: 0px !important;
  padding: 12px 10px;
  margin-top: 40px;
  max-width: 220px;
  text-align: center;
  padding: 12px 10px;
  letter-spacing: 0.1px;
}

.optimization-successful img {
  display: block;
  margin: auto;
}

#accordion-menu-site {
  max-height: 100%;
  height: 790px;
  overflow: auto;
  background-color: #ddd;
  position: relative;
  top: -30px;
  display: block;
}


#accordion-menu-site .panel-main-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

#accordion-menu-site .panel-title {
  background-color: #adadad;
  margin: 0px;
  border: solid 1px #7e7e7e;
  font-size: 0.9em;
  border-left:0;
  border-right:0;
} 

#accordion-menu-site .panel-title a {
  display: block;
  padding: 10px 20px;
  text-decoration: underline;
} 

#accordion-menu-site .panel-body {
  margin-left: 20px;
  font-size: 0.9em;
} 

#accordion-menu-site .panel-default {
  margin: 0px;
}

/********************************/
/******** FORM FORMATTING *******/
/********************************/

.error {
  color: #c62d2d;
  font-size: 0.8em;
}

input[type="checkbox"] {
    display:none !important;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:26px;
    height:26px;
    margin: 0px 0px 0 0;
    vertical-align:middle;
    background:url(/img/check-btn-unchecked.png) left top no-repeat;
    cursor: pointer;
}


input[type="checkbox"]:checked + label span {
    background:url(/img/check-btn-checked.png) 0px top no-repeat;
}



.modal-body div, .modal-body div div  {
  margin: 0px;
  padding: 0px;
} 

select {
  display:block;
}


/* ==========================================================================
   Author's custom styles: FOOTERS;
   ========================================================================== */

.form-footer {
  background-color: #000;
  height: 175px;
  padding: 20px 20px;
  margin: 40px -40px;
}

.form-footer div input {
  height: 60px !important;
  width: 240px !important;
  margin-bottom: 20px;
}

.form-footer div .progress {
  height: 45px !important;
  width: 750px !important;
  float: left;
  margin-top: 20px;
}

.form-footer div h2 {
  text-align: center;
  color: #FFF;
}



#mapDiv { width: 100%; 
          min-height: 100%;
          height: 800px;
          max-height: 100%;
          margin-top: -40px;}

/* ==========================================================================
   Author's custom styles: FORM VALIDATION;
   ========================================================================== */

.form-control-feedback {
  margin-right: 20px;
}

.glyphicon-question-sign {
  margin-left: 10px;
}

.input-half  {
font-size: 16px !important;
width: 160px !important;
}

.btn-default {
  width: 150px;
}

/* ==========================================================================
   Author's custom styles: REGISTRATION FORM;
   ========================================================================== */

#registration-form div > div > fieldset {
  margin-bottom: 20px;
  animation-name: left_to_right;
  animation-duration: 1s;
}

.welcome-message {
  text-align: center;
  margin: 60px auto;
  font-size: 1.5em;

}   

/* ==========================================================================
   Author's custom styles: LOGIN FORM;
   ========================================================================== */

#login-form div > div > fieldset {
  margin-bottom: 20px;
  animation-name: left_to_right;
  animation-duration: 1s;
}

.welcome-message {
  text-align: center;
  margin: 60px auto;
  font-size: 1.5em;
}   

.terms-text {
  border: 2px solid #ececec;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 350px; 
  overflow: scroll;
}
/* ==========================================================================
   Added styling for checkboxes of Terms and Privacy on registeration page
   ========================================================================== */
.label-auto{
  max-width: 100% !important;
}
.animation-left-to-right{
  animation-name: left_to_right;
  animation-duration: 1s;
}
.res-form-check input[type="checkbox"]{
  width: auto !important;
  height: auto !important;
  font-size: inherit !important;
  margin-bottom: -15px;
  display: block !important;
  opacity: 0;
}
.res-form-check .input-group{
  display: inline-block;
}
.res-form-check .has-success .input-group,
.res-form-check .has-error .input-group{
  padding-bottom: 20px;
}
.res-form-check label.error{
  position: absolute;
  bottom: 0;
  min-width: 400px;
}
.res-form-check .form-control-feedback{
  margin-right: 0;
  right: -30px;
  top: -3px; 
}
/* ==========================================================================
   Added styling for  Terms and Privacy on modal window on registeration page
   ========================================================================== */
.heading-body-same-level{
  position: absolute;
  right: 0;
  z-index: 99;
}
a.anchor-tag-color{
  color: #3A3A3A;
  text-decoration: underline;
}
a.anchor-tag-color:hover{
  color: black;
}
/*=======
   Angular cloak style
   ========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*color for text in black */
.text-black{
  color: black !important;
}
/* ==========================================================================
   Added styling for  KML upload/download
   ========================================================================== */
#accordion-menu-site .panel{
cursor:pointer;
}
/*Upload Button*/
.upload {
  color: #333;
  overflow: hidden;
  position: relative;
  height: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 150px;

}
.upload span{
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  top: 0px;
  left:0;
  text-align: center;
}
.upload input[type=file]{
  width: 150px !important;
  height: 30px !important;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}
.ajax-loader{
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  background-color: rgba(0, 0, 0 , 0.5);
  overflow: hidden;
}
.ajax-loader img {
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: 20%;
}
/*color for text in black */
.text-black{
  color: black !important;
}

.right-check-arrow{
  margin-right: 0 !important;
  right: -20px !important;

}
/* ==========================================================================
   alert modal style
   ========================================================================== */
.alert-width{
  width: 400px;
}
.alert-footer{
  text-align: center;
}
.width-100{
  width: 100px;
}
.footer .modal{
  text-align: left !important;
}
.heading-style {
  text-align: right;
  margin-right: 10%;
  animation-name: left_to_right;
  animation-duration: 1s;
}
.margin-top-20{
  margin-top: 20px;
}
.padding-right-30{
  padding-right: 30px;
}
.search-icon{
  position: absolute;
  right: 10px;
  z-index: 99;
  top: 10px;
  font-size: 18px;
}
/*** cms styling ****/
.nav-cms-tab-panel{
  /*background-color: transparent;*/
  padding-left: 0;
}
.pointer{
  cursor:pointer;
}
.back-btn{
  color : #a94442 !important;
}
.cms-tab-panel .nav-tabs > li > a{
  /*background-color: #313131;*/
  border-radius:0;
  padding: 10px 15px;
}
.cms-tab-panel .nav-tabs > li > a:hover,
.cms-tab-panel .nav-tabs > li > a:active,
.cms-tab-panel .nav-tabs > li > a:focus {
  border: 1px solid transparent;
  border-color: #FFFFFF;
}
.cms-tab-panel .nav-tabs > li.active > a{
  background-color: #cfcfcf;
  color : #313131 !important;
  border-radius:0;
}
.text-align-right{
  text-align: right;
}
.text-kml{
  color: #a94442;
  font-size: 11px;
  display: inline-block;
  margin-top: -17px;
}
.text-kml a{
  color: #a94442;
  text-decoration: underline;
}
.disabled-div{
  opacity: 0.5;
}
.valid-icon .has-success .form-control-feedback{
  margin-right: 0;
  right: -35px;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.bottom-fix {
  position: absolute;
  margin-bottom: 10px;
  bottom: 0;
  right: 10px;
}
.fix-width {
  float: left;
  width: 100%;
}
.date-inputs{
  position: relative;
}
.date-inputs .input-group{
  display: inline-block;
  width: 32.33%;
}
.date-inputs .input-group:first-child{
  margin-right: 10px;
}
.search-icon{
  /*right: auto;*/
  /*margin-left: 10px;*/
/*  top: 35px;*/
}
#edit-company-info-cms input{
  border-radius: 0;
  margin-bottom: 10px;
}
.help-btn i {
  font-size: 15px;
}
#help-form textarea {
  resize : none;
}
#help-form .has-success .form-control-feedback {
  margin-right : 0;
  top: 26px;
  right : -40px;
}
#help-form .has-error .form-control-feedback {
  margin-right : 0;
  top: 26px;
  right : -40px;
}