<!-- Loader image  -->
<!-- <div id="loader" ng-if="!projectsLoaded" class="ajax-loader">
<img src="../../img/715.gif">
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1 class="top-project-menu">Your Projects</h1>
        </div>
    </div>
    <div class="row your-projects-menu" *ngIf="projects.length > 0">
        <div class="col-md-5 col-md-push-1">
            <div class="input-group">
              <input type="text" class="form-control padding-right-30" [focus]="myFocusTriggeringEventEmitter" [(ngModel)]="searchFilter"  id="searchProject">
              <span class="search-icon glyphicon glyphicon-search" aria-hidden="true" (click)="setFocus()" ></span>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-md btn-warning" data-toggle="modal" class="btn btn-md btn-danger" data-target="#unarchive-projects-modal">Archived Projects</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-md btn-danger" data-toggle="modal" class="btn btn-md btn-danger" data-target="#my-projects-modal">Projects Managed</button>
        </div>
    </div>

<div class="container project-list">
    <div class="row" *ngIf="projects.length == 0" >
         <div class="col-md-8 col-md-push-2">
            <h3>No projects created or given access to. Click <a href="/#/create-project">here</a> to create one.</h3>
         </div>
    </div>
    <div class="row" *ngFor="let project of projects">
         <div >
            <div class="row" >
                <div class="col-md-12 project-title">{{project.project_name}}
                    <a class="edit" href="/#/projects/edit/{{project._id}}">Edit</a>  
                    <button type="button" class="btn btn-xs btn-warning" (click)="archiveProject(project._id,true,project)" >Archive</button>
                </div>
                <div class="col-md-12 project-info">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    {{project.location}}
                </div>
                <div class="col-md-4">
                    Project ID: {{project.project_ID }}
                </div> 
                <div class="col-md-4 project-info">
                    <i class="glyphicon glyphicon-flash"></i> 
                    {{ project.output.ac_system_size_kw ? project.output.ac_system_size_kw : 0 | number }} kW
                </div>
                <div class="col-md-4">
                    Company Admin: {{adminName}}
                </div> 
                <div class="col-md-4">
                    Project Manager: {{project.editer_firstName}} {{project.editer_lastName}}
                </div>  
                <div class="col-md-4">
                    Created On: {{project.meta.createdAt | date : 'medium'}}
                </div>
                <div class="col-md-4">
                    Last Edited: {{project.meta.lastEdited | date : 'medium'}}
                </div>  
                <div class="col-md-4">
                    Successful Optimizations: {{project.optimizer_count | number}}
                </div> 
                <div class="col-md-12" class="optimization-results">
                    <div class="optimization-results-status">
                        <div>{{project.output.user_message}}</div>
                        <div>
                        <a class="edit" [hidden]="project.output.user_message=='Optimization Successful'" href="{{ report_url() + '/report/' + project._id}}" target="blank"> See Report</a>
                        </div>
                    </div>
                </div>  
            </div>
        
        </div>
    </div>
</div>
<div class="modal fade" id="unarchive-projects-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">Archived Projects</h4>
            </div>
            <div class="modal-body">
                <div class="container project-list width-100-percent">
                    <div class="row" *ngFor=" let project of projects">
                        <div ng-if="project.status" class="col-md-12">
                            <div class="col-md-10" >
                                <div class="col-md-12 project-title">{{project.project_name}}</div>
                                <div class="col-md-12 project-info">
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    {{project.location}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-xs btn-warning" ng-click="archiveProject(project._id,false,project)">Unarchive</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="my-projects-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">Projects Managed</h4>
            </div>
            <div class="modal-body">
                <div class="container project-list width-100-percent">
                    <div class="row" *ngFor="let project of projects">
                        <div *ngIf="project && _id == project.editer_id" class="col-md-12">
                            <div class="col-md-10" >
                                <div class="col-md-8 project-title">{{project.project_name}} <a class="edit" href="/#/projects/edit/{{project._id}}">Edit</a></div> 
                                <div class="col-md-12 project-info">
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    {{project.location}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>