<!-- main app container -->
<div class="jumbotron">
    <div class="container">
    <p>Hello we are</p>
        <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>