<div class="container-fluid">
       <h1 class="top-project-menu">Welcome to HST Inside</h1>
</div> 
<div class="container">
	<form [formGroup]="complexForm" (ngSubmit)="login(complexForm.value)" class="form" role="form" method="get" id="login-form" autocomplete="off" >
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
	    	<fieldset>
	            <legend>Login:</legend>{{registeredSucessfully}}{{temp}}
	            <div class="col-md-12"> {{tem}}
	                <div class="form-group">
	                    <label for="email" class="col-md-6 control-label">Email</label>
	                    <div class="col-md-6 input-group">
	                        <input type="text" name="email" [(ngModel)]="user.email" id="email" [formControl]="complexForm.controls['email']" class="form-control input-md">
	                        <span *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="glyphicon form-control-feedback" >"your email address"</span>
	                         <span *ngIf="complexForm.controls['email'].hasError('invalidFormat') && complexForm.controls['email'].touched && !complexForm.controls['email'].hasError('required')" class="glyphicon form-control-feedback" >"correct email address"</span>
	                        <span class="glyphicon form-control-feedback"></span>
	                        <span class="" ass="help-block"></span>
	                    </div>
	                </div> 
	            </div>
	            <div class="col-md-12" > 
	                <div class="form-group">
	                    <label for="password" class="col-md-6 control-label">Password</label>
	                    <div class="col-md-6 input-group">
	                        <input type="password" name="password" [(ngModel)]="user.password" [formControl]="complexForm.controls['password']" id="password" class="form-control input-md" autocomplete="off">
	                        <span class="glyphicon form-control-feedback"></span>
	                        <span class="help-block"></span>
	                    </div>
	                </div> 
	            </div>            
	            <div class="col-md-12" > 
	                <div class="form-group">
	                    <a href="" data-toggle="modal" data-target="#forgetPassword"><label class="col-md-6 control-label">Forgot Password?</label></a>
	                </div> 
	            </div>                   
	   		</fieldset>
	   	</div>
   	</div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<div class="form-group col-md-12">
                <button [disabled]="!complexForm.valid" type="submit" name="login_btn" class="btn btn-danger btn-lg btn-full-width">LOGIN <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
		</div>
	</div>
	</form>
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<div class="col-md-12">
				By using the HST Solar platform, you agree to the
				<a href="" data-toggle="modal" data-target="#terms_and_conditions" class="anchor-tag-color">Terms and Conditions</a> and 
                <a href="" data-toggle="modal" data-target="#privacy_policy_NDA" class="anchor-tag-color">Privacy Policy and NDA</a>
            </div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="alert alert-danger" role="alert" ng-show="loginError">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span> -->
		  <!-- {{loginError}} -->
		<!-- </div>
	</div> -->
</div>
